<div>
  <h3><%= link_to("DB-Engines", "http://db-engines.com/en/ranking") %></h3>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <center>
    <%= image_tag("db-rank-2015-3.png",alt: 'DB-Egines Rank 2015-3') %>
  </center>
</div>
<div>
  <h3><%= link_to("Web-Server", "http://w3techs.com/") %></h3>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <center>
    <%= image_tag("server-rank-2015-3.png",alt: 'Web-Server') %>
  </center>
</div>
<div>
  <h3><%= link_to("Puma", "http://puma.io/") %></h3>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <center>
    <%= image_tag("puma.png",alt: 'puma') %>
  </center>
</div>
<div>
  <h3><%= link_to("Passenger", "http://www.phusionpassenger.com/") %></h3>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <center>
    <%= image_tag("passenger.png",alt: 'puma') %>
  </center>
</div>
