<!DOCTYPE html>
<html>
<head>
  <title>Trick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <%= render "layouts/header" %>
  <% else %>
    <%= render "layouts/sign_in" %>
  <% end %>

  <div class="container">
    <%= render "layouts/flash" %>
    <%= yield %>
  </div> <!-- /container -->

  <%= render "layouts/footer" %>
  <%= yield :page_javascript %>
</body>
</html>
